body{
    padding:0;
    margin: 0;
    overflow-x: hidden;
}
.sec-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: 
        linear-gradient(135deg, #000000, #1a237e),
        linear-gradient(45deg, #000000, #0d47a1),
        linear-gradient(225deg, #000000, #64b5f6),
        linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
    background-blend-mode: overlay, overlay, overlay, lighten;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.text {
    text-align: center;
    color: #fff;
}

.pic img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.text h3 {
    font-size: 42px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.text p {
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.text a {
    display: inline-block;
    padding: 12px 24px;
    background-color: #29a5ff;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.text a:hover {
    background-color: #1c7cac;
    transform: translateY(-2px);
}

/* Responsive Styles */

@media (max-width: 768px) {
    .text h3 {
        font-size: 36px;
    }

    .text p {
        font-size: 16px;
    }

    .text a {
        padding: 10px 20px;
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .text h3 {
        font-size: 28px;
    }

    .text p {
        font-size: 14px;
    }

    .text a {
        padding: 8px 16px;
        font-size: 12px;
    }
}
