* {
   margin: 0;
    padding: 0;
    
}

body {
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

span {
  padding-right: 15px;
  padding-left: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
      background: 
    linear-gradient(135deg, #000000, #1a237e),
    linear-gradient(45deg, #000000, #0d47a1),
    linear-gradient(225deg, #000000, #64b5f6),
    linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
  background-blend-mode: overlay, overlay, overlay, lighten;
  padding: 20px;
  height: 100%;
  margin: 0;
}

.chat {
  height: 400px;
  width: 55vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align messages to the right side */
  margin-left: 10px;
}

::-webkit-input-placeholder {
  color: .711;
}

input {
  border: 0;
  padding: 10px;
  margin-left: auto;
  border-radius: 10px;
}

.messages {
  overflow-y: scroll;
  height: 90%;
  width: 100%;
  background-color: white;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
}

#bot {
    margin-left: 60%;
}


.bot {
  font-family: Consolas, 'Courier New', Menlo, source-code-pro, Monaco, monospace;
}

.avatar {
  height: auto;
  max-height: 25px;
}

.response {
  display: flex;
  align-items: center;
  margin: 1%;
  height: auto;
}

.container img {
  height: 350px;
  animation: bot 10s linear infinite;
  flex-shrink: 0;
}

@keyframes bot {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

.input-container {
  display: flex;
  align-items: center;
}

#input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#sendButton {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#sendButton:hover {
  background-color: #0056b3;
}

/* Mobile */
@media only screen and (max-width: 980px) {
  .container {
    background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      position: fixed;
  }
  .container img {
      height:600px;
    }
  .chat {
    width: 75vw;
    margin: 10vw;
  }
  .messages{
        height: 100%;
    }
}
